//= templates/head.html
<div class="wrapper front">
	//= templates/header.html
	<div class="wrapper_content">
		<div class="middle clearfix">
			
		</div>
	</div>
</div>
//= templates/footer.html
