	<footer class="footer clearfix">
		<div class="footer_content container">
			
		</div>
	</footer>
	<script src="../js/jquery.js"></script>
	<script src="../js/slick.min.js"></script>
	<!-- <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&key=AIzaSyAsgajRdZv5H2LGoHO8BXbyVZq2CLMZNxE"></script> -->
	<!-- <script src='https://www.google.com/recaptcha/api.js'></script> -->
	<script src="../js/main.js"></script>
</body>
</html>